
.contatti{
    display: flex;
    flex-direction: column;
    
}

.contatti h3{
    font-size: 1.5rem;
    color: #00bfff;
    margin-bottom: 1rem;
}


.boxContatti{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    
}

.Contatti1{
    font-size: 1.2rem;
}


.contatti2{
    margin-bottom: 2rem;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
    .contatti h3{
        font-size: 1.3rem;
    }

    .Contatti1{
        font-size: 1rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    

    .contatti h3{
        font-size: 1.3rem;
        
    }
    
    .Contatti1{
        font-size: 1rem;
    }

}


@media screen and (min-width: 641px) and (max-width: 768px) {

    .contatti h3{
        font-size: 1.3rem;
    }

    .Contatti1{
        font-size: 1rem;
    }

}


@media screen and (min-width: 432px) and (max-width: 640px) {

    .contatti h3{
        font-size: 1.4rem;
    }

    .Contatti1{
        font-size: 1.2rem;
    }

}


@media screen and (max-width: 431px) {
    .contatti h3{
        font-size: 1.4rem;
    }

    .Contatti1{
        font-size: 1rem;
    }
}