

.carta{
    background-color: #f8f8ff;
    height: 23.4rem;
    width: 17rem;
    box-shadow:  0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;

    margin: 0 auto;
    margin-top: 8rem;
    

}

.linkCard{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    padding: 1rem 2rem ;
    text-align: center;
    
}

.carta:hover{
    border: 0.05rem solid #ff00ff ;
}


.imgCarta{
    height: 7rem;
    width: 9rem;
    border-radius: 50%;

}

.titoloCarta{
    font-size: 2rem;
    color: black;
}

.descrizioneCarta{
    font-size: 1.2rem;
    color:#A9A9A9;
}

/* tablet */
@media  screen and (min-width: 385px) and (max-width: 768px) {
    
   .carta{
        margin-bottom: 0.01rem;
   }

}

/*mobile*/

@media  screen and (max-width: 384px) {
    .carta{
        height: max-content;
        margin-bottom: 0.01rem;
   }

   .imgCarta{
    height: 5rem;
    width: 7rem;
   }

   .titoloCarta{
    font-size: 1.6rem;
   }

   .descrizioneCarta{
    font-size: 1.1rem;
   }


}
